body.sysadmin
{
    font-family: Verdana,Arial,serif;
    font-size: 12px;
    font-weight: normal;
	padding: 0px;
	margin: 0px;
}

body.sysadmin .content
{
    margin: 20px;
    min-height: 600px;
}

body.sysadmin .footer
{
    margin-top: 50px;
    text-align: center;
}

body.sysadmin .footer a,
body.sysadmin .footer a:visited
{
    color: #8f8f8f;
}

body.sysadmin .clearer
{
	clear: both;
	line-height: 0px;
	font-size: 0px;
}

/* tables */
body.sysadmin .table .tr, body.sysadmin table tr
{
    margin: 0px;
    padding: 0px;
}

body.sysadmin .table .td, body.sysadmin table td
{
    margin: 0px;
    padding: 5px;
}

body.sysadmin .table .thead .tr, body.sysadmin table thead tr
{
    background-color: orange;
    font-weight: bold;
    color: white;
}

body.sysadmin .table .tfoot .tr, body.sysadmin table tfoot tr
{
    background-color: orange;
}

body.sysadmin .bordered
{
	border: 1px solid gray;
}

body.sysadmin .bordered .tbody, body.sysadmin .bordered tbody
{
	border-top: 1px solid gray;
	border-bottom: 1px solid gray;
}

/* login form */
body.sysadmin form.login
{
    margin: auto;
    font-size: 14px;
    width: 400px;
    border: 1px solid gray;
}

body.sysadmin form.login input[type="text"], 
body.sysadmin form.login input[type="password"]
{
    width: 250px;
}

body.sysadmin form.login table
{
    width: 100%;
}

/* navigation */
body.sysadmin div.navigation
{
	background-color: #d9d9d9;
    border-bottom: 1px dotted #5d5d5d;
    
/*    border-left: 1px dotted gray;
    border-bottom: 1px dotted gray;
    display: block;
    margin: 0;
    padding: 10px 22px 10px 10px;
    width: 200px;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 99999;*/
}

body.sysadmin div.navigation a,
body.sysadmin div.navigation a:active,
body.sysadmin div.navigation a:visited
{
    text-decoration: none;
    text-align: center;
	white-space: nowrap;
	overflow: hidden;
    border: 1px solid gray;
    padding: 5px;
    display: inline-block;
    margin: 4px;
    color: black;
    background-color: #d2d2d2;
}

body.sysadmin div.navigation a:hover
{
    background-color: orange;
}

body.sysadmin div.navigation a.current
{
    background-color: orange;
    font-weight: bold;
}

body.sysadmin div.navigation a.logout,
body.sysadmin div.navigation a:visited.logout
{
    text-decoration: underline;
    text-align: center;
	white-space: nowrap;
	overflow: hidden;
    border: 0px;
    padding: 5px;
    display: inline-block;
    margin: 4px;
    color: black;
    background-color: transparent;
    float: right;
}

/* new string editor */
body.sysadmin table.new_string
{
    width: 500px;
    float: left;
    border: 1px solid gray;
    margin: 5px;
}

body.sysadmin table.new_string textarea
{
    float:left; 
    width:400px; 
    height: 50px;
}

body.sysadmin .phpinfo
{
	border: 1px solid gray;
	margin-bottom: 15px;
	width: 50%;
}

body.sysadmin .phpinfo .caption, 
body.sysadmin .phpinfo .thead
{
	background-color: orange;
}

body.sysadmin .phpinfo .caption
{
	border: 1px solid gray;
	border-bottom: 0;
	padding: 5px;
	font-size: +1;
}

body.sysadmin .phpinfo .tbody .tr:nth-child(even)
{
	background: lightgray;
}

body.sysadmin .phpinfo .tbody .tr .td:nth-child(3)
{
	color: gray;
}

body.sysadmin a,
body.sysadmin a:visited
{
    color: #484848;
}