.table { display: table; }

.table .caption { display: table-caption; font-weight: bold; }

.table .colgroup { display: table-column-group; }

.table .col { display: table-column; }

.table .thead { display: table-header-group; font-weight: bold; }

.table .tbody { display: table-row-group; }

.table .tfoot { display: table-footer-group; }

.table .tr { display: table-row; }

.table .td { display: table-cell; padding: 3px; }

.table .tbody .tr:nth-child(odd) { background-color: transparent; }
.table .tbody .tr:nth-child(even) { background-color: transparent; }
.table .td.indent
{
	padding-left: 16px !important;
    padding-right: 0px !important;
}

.table .td pre { font-family: Courier,monospace; margin: 0; }

.ui-table-actions > div { cursor: pointer; float:left; display: inline-block; width: 16px; }
.ui-table-actions > div.ui-state-hover { margin: -1px; }

.table .pager
{
	position: absolute;
}

.table .pager a, 
.table .pager a:link, 
.table .pager a:visited, 
.table .pager a:active
{
	text-decoration: none;
	border: 1px solid transparent;
	color: black;
	font-weight: normal;
	padding-left :5px;
	padding-right :2px;
	margin-right :2px;
}

.table .pager a:hover
{
	border: 1px solid black;
}

.table .pager .current
{
	color: black;
	font-weight: bold;
}