# ----------------------------------------------------------------------------------------
# Scavix Web Development Framework
#
# Copyright (c) since 2012 Scavix Software Ltd. & Co. KG
#
# This library is free software; you can redistribute it
# and/or modify it under the terms of the GNU Lesser General
# Public License as published by the Free Software Foundation;
# either version 3 of the License, or (at your option) any
# later version.
#
# This library is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
# Lesser General Public License for more details.
#
# You should have received a copy of the GNU Lesser General Public
# License along with this library. If not, see <http://www.gnu.org/licenses/>
#
# @author Scavix Software Ltd. & Co. KG http://www.scavix.com <info@scavix.com>
# @copyright since 2012 Scavix Software Ltd. & Co. KG
# @license http://www.opensource.org/licenses/lgpl-license.php LGPL
#
# ----------------------------------------------------------------------------------------
#
# This htaccess comes into play if you have the WDF accessible from the Internal directly
# We recommend to do so with an own (sub-)domain and not to put it's folder into your
# application folder. Note that the WDF_FEATURES_* env vars are not set here, as WDF
# will only be accessible for resource delivery, not for direct access to any PHP logic!
#
# ----------------------------------------------------------------------------------------
#
# This is prototype code for your app specific .htaccess file.
# feel free to copy paste it there, it should work out of the box.
# Of course you may want to copy/paste some of the optiomizations below too, so we marked
# the useful ones with a *COPY* in the comments
#
#<IfModule mod_rewrite.c>
#	RewriteEngine On
#
#	# redirect NoCache files to the real ones
#	SetEnv WDF_FEATURES_NOCACHE on
#	RewriteRule (.*)/nc([0-9]+)/(.*) $1/$3?_nc=$2 [L,QSA]
#
#	# redirect inexistant requests to index.php
#	SetEnv WDF_FEATURES_REWRITE on
#   RewriteCond %{REQUEST_FILENAME} .*\.less$ [NC,OR]
#	RewriteCond %{REQUEST_FILENAME} !-f
#	RewriteCond %{REQUEST_FILENAME} !-d
#	RewriteCond %{REQUEST_URI} !index.php
#	RewriteRule (.*) index.php?wdf_route=$1 [L,QSA]
#</IfModule>
#
# ----------------------------------------------------------------------------------------
#
# Now finally the real content:
#

<IfModule mod_rewrite.c>
	RewriteEngine On

	# redirect NoCache files to the real ones
	RewriteRule (.*)/nc([0-9]+)/(.*) $1/$3?_nc=$2 [L,QSA]

	# deny access to most folders/files
	RewriteCond %{REQUEST_URI} /base/ [OR]
	RewriteCond %{REQUEST_URI} /essentials/ [OR]
	RewriteCond %{REQUEST_URI} /lib/ [OR]
	RewriteCond %{REQUEST_URI} /modules/ [OR]
	RewriteCond %{REQUEST_URI} /reflection/ [OR]
	RewriteCond %{REQUEST_URI} /system.php [OR]
	RewriteCond %{REQUEST_URI} /system_functions.php [OR]
	RewriteCond %{REQUEST_URI} /system_objects.php
	RewriteRule .* - [F]
</IfModule>

#  DEFLATE text files. note that we rely on files extension to decide whether to deflate or not (*COPY*)
<IfModule mod_deflate.c>
	<FilesMatch "\.(js|css|xml|txt|html|php)$">
		SetOutputFilter DEFLATE
	</FilesMatch>
</IfModule>

<IfModule mod_headers.c>
	# allow cookies in IE iframe: (*COPY*)
	Header set P3P: "CP=\"SCAVIX-WDF\""

	# remove ETags to force browsers to use our cache control (*COPY*)
	<FilesMatch "(\.(ico|pdf|flv|jpg|jpeg|png|gif|js|css|swf|gz))|(\_js\.php)?$">
		Header unset ETag
		FileETag None
	</FilesMatch>

	# now our own cache control (*COPY*)
	<IfModule mod_expires.c>
		ExpiresActive On
		ExpiresDefault A0
		<FilesMatch "\.(gif|jpg|jpeg|png|swf|ico)$">
			ExpiresDefault "now plus 5 weeks"
			Header append Cache-Control "public"
		</FilesMatch>
		<FilesMatch "\.(xml|txt|html)$">
			ExpiresDefault "now plus 2 hours"
			Header append Cache-Control "proxy-revalidate"
		</FilesMatch>
		<FilesMatch "\.(js|css|less)$">
			ExpiresDefault "now plus 5 weeks"
			Header append Cache-Control "proxy-revalidate"
		</FilesMatch>
	</IfModule>
</IfModule>